:root { 
--black_900_7f:#0000007f; 
--light_green_A700:#52d22e; 
--gray_600_19:#6e6e6e19; 
--black_900_91:#00000091; 
--gray_300_ad:#e6e6dcad; 
--green_A700:#00ce21; 
--black_900:#000000; 
--gray_500_01:#a1a1a1; 
--blue_gray_900_0c:#18274b0c; 
--blue_gray_800:#414d55; 
--gray_500_02:#8f8f8f; 
--blue_gray_900:#2c323b; 
--red_A700:#ef0101; 
--gray_600:#696c6d; 
--gray_900_02:#21272a; 
--gray_700:#5d5e5f; 
--gray_900_03:#1c1b1f; 
--gray_400:#c7c7c7; 
--black_900_0a:#0000000a; 
--gray_900_04:#301616; 
--gray_500:#a3a3a3; 
--gray_300_84:#e6e6dc84; 
--blue_gray_100:#d8d8d8; 
--blue_gray_400:#8e8e93; 
--indigo_50:#e4eaf0; 
--gray_900:#1d1d1d; 
--gray_900_01:#171717; 
--green_50:#ecece0; 
--gray_800_99:#3c3c4399; 
--gray_300:#e0e0e0; 
--orange_300:#ffbd40; 
--gray_300_01:#dcdcdc; 
--gray_100:#f7f7f1; 
--light_green_A700_01:#51d22e; 
--light_green_A700_02:#52d22f; 
--gray_400_01:#cacaca; 
--red_A700_01:#e80000; 
--gray_600_1e:#7676801e; 
--white_A700:#ffffff; 
}